include ../pug_mixins/mixins.pug 
div.burger#burger
a(href="#train_section")
  div.up-wraper#upWraper
header(class="unactive_mobile")
  nav
    ul.navigation_list
      li
        a(href="#about_section")
          | описание
      li
        a(href="#rout_section")
          | маршрут
      li
        a(href="#photo_section")
          | фото
      li
        a(href="#faq_section")
          | faq
      li
        a(href="#partners_section")
          | партнеры

        
