include ../pug_mixins/mixins.pug 

footer
  article
    h3 
      | The Rolling Scopes 2018
    ul
      li
        a(href="https://www.facebook.com/groups/TheRollingScopes/")
          img(src="../public/images/facebook.png")
      li
        a(href="http://frontendbelarus.herokuapp.com/")
          img(src="../public/images/slack.png")
      li
        a(href="https://www.instagram.com/explore/tags/rollingscopes/")
          img(src="../public/images/instagram.png")
      li
        a(href="https://twitter.com/rollingscopes")
          img(src="../public/images/twitter.png")
      li
        a(href="https://vk.com/therollingscopes")
          img(src="../public/images/vkontakte.png")
      li
        a(href="https://www.youtube.com/user/therollingscopes")
          img(src="../public/images/youtube.png")
